body{
    background-image: url(../img/dark-background-6.jpg);
    background-size: cover;
}
#cabecalho{
    text-align: left;
    position: static;
    display: block;
    padding:30px 30px 30px 30px;
    
    color: rgba(29,132,181,1);
}

section#servicos{
    text-align: center;
    position: relative;
    display: block;
    padding:16px 8px 16px 8px;
    background-color: rgba(25,25,25,0.6);
    color: rgba(256,256,256,0.8);
}

section#tecnologias{
    text-align: center;
    position: relative;
    display: block;
    padding:16px 8px 16px 8px;
    background-color: rgba(25,25,25,0.6);
    color: rgba(256,256,256,0.8);
}

#rodape p{
    text-align: center;
}

.corpo{
    color: #CFDEE7;
}

.rodape{
    text-align: center;
    position: relative;
    margin: 5px,20px,5px,20px;
    padding: 70px;
    display: block;
    background-color: rgba(25,25,25,0.6);
    color: #CAC4CE;
}






